<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bytewen.mapper.HobbyMapper">
    <!--添加-->
    <insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into tb_hobby
        values(
          null,
          #{name},
          #{scale},
          #{source}
        )
    </insert>
    <!--删除-->
    <delete id="delete">
        delete from tb_hobby
        where id=#{id}
    </delete>
    <!--更新-->
    <update id="update">
        update tb_hobby
        <set>
            <if test="name!=null and name.trim()!=''">
                name=#{name},
            </if>
            <if test="scale!=null and scale.trim()!=''">
                scale=#{scale},
            </if>
            <if test="source!=null and source.trim()!=''">
                source=#{source},
            </if>
        </set>
        where id=#{id}
    </update>
    <!--查找-->
    <select id="get" resultType="org.bytewen.po.Hobby">
        select * from tb_hobby
        where id=#{id}
    </select>
    <!--条件查找-->
    <select id="getList" resultType="org.bytewen.po.Hobby" parameterType="map">
        select * from tb_hobby
        <where>
            <if test="name!=null and name.trim()!=''">
                name like '%' #{hobby.name} '%'
            </if>
            <if test="scale!=null and scale.trim()!=''">
                and scale=#{hobby.scale}
            </if>
            <if test="source!=null and source.trim()!=''">
                and source=#{hobby.source}
            </if>
        </where>
        <if test="firstKey!=null and firstKey.trim()!=''">
            order by
            ${firstKey} ${order}
        </if>
    </select>
    <!--条件分页查询-->
    <select id="getListByPage" resultType="org.bytewen.po.Hobby">
        select * from tb_hobby
        <where>
            <if test="name!=null and name.trim()!=''">
                name like '%' #{hobby.name} '%'
            </if>
            <if test="scale!=null and scale.trim()!=''">
                and scale=#{hobby.scale}
            </if>
            <if test="source!=null and source.trim()!=''">
                and source=#{hobby.source}
            </if>
        </where>
        limit #{start},#{size}
    </select>
</mapper>